.scene-window__content {
  background: #07090d;
}

.scene-view {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #07090d;
}

.scene-world-render-view,
.scene-world-render-view {
  width: 100%;
  height: 100%;
}
